In [ ]:
import datetime

Ordinal Number Encoding

In [ ]:

today_date=datetime.datetime.today()

In [ ]:
today_date

datetime.datetime(2022, 12, 31, 4, 40, 18, 699987)

In [ ]:
today_date-datetime.timedelta(3)

datetime.datetime(2022, 12, 28, 4, 40, 18, 699987)

In [ ]:
[today_date-datetime.timedelta(x) for x in range(0,15)]

[datetime.datetime(2022, 12, 31, 4, 40, 18, 699987),
 datetime.datetime(2022, 12, 30, 4, 40, 18, 699987),
 datetime.datetime(2022, 12, 29, 4, 40, 18, 699987),
 datetime.datetime(2022, 12, 28, 4, 40, 18, 699987),
 datetime.datetime(2022, 12, 27, 4, 40, 18, 699987),
 datetime.datetime(2022, 12, 26, 4, 40, 18, 699987),
 datetime.datetime(2022, 12, 25, 4, 40, 18, 699987),
 datetime.datetime(2022, 12, 24, 4, 40, 18, 699987),
 datetime.datetime(2022, 12, 23, 4, 40, 18, 699987),
 datetime.datetime(2022, 12, 22, 4, 40, 18, 699987),
 datetime.datetime(2022, 12, 21, 4, 40, 18, 699987),
 datetime.datetime(2022, 12, 20, 4, 40, 18, 699987),
 datetime.datetime(2022, 12, 19, 4, 40, 18, 699987),
 datetime.datetime(2022, 12, 18, 4, 40, 18, 699987),
 datetime.datetime(2022, 12, 17, 4, 40, 18, 699987)]

In [ ]:
#### List Comprehension
days=[today_date-datetime.timedelta(x) for x in range(0,15)]

In [ ]:
import pandas as pd
data=pd.DataFrame(days)
data.columns=["Day"]
data.columns=["weekday"]

In [ ]:
data.head()

                     weekday
0 2022-12-31 04:40:18.699987
1 2022-12-30 04:40:18.699987
2 2022-12-29 04:40:18.699987
3 2022-12-28 04:40:18.699987
4 2022-12-27 04:40:18.699987

In [ ]:
weekday=data['weekday'].dt.weekday_name
weekday

AttributeError: ignored

In [ ]:
dictionary={'Monday':1,'Tuesday':2,'Wednesday':3,'Thursday':4,'Friday':5,'Saturday':6,'Sunday':7


}

In [ ]:
dictionary

{'Monday': 1,
 'Tuesday': 2,
 'Wednesday': 3,
 'Thursday': 4,
 'Friday': 5,
 'Saturday': 6,
 'Sunday': 7}

In [ ]:
data['weekday_ordinal']=data['weekday'].map(dictionary)

KeyError: ignored

In [ ]:

data

count of frequency encoding

In [ ]:
train_set = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data' , header = None,index_col=None)
train_set.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
columns=[1,3,5,6,7,8,9,13]

In [ ]:
train_set=train_set[columns]

In [ ]:
train_set.columns=['Employment','Degree','Status','Designation','family_job','Race','Sex','Country']
train_set.head()

,Employment,Degree,Status,Designation,family_job,Race,Sex,Country
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba

In [ ]:
for feature in train_set.columns[:]:
    print(feature,":",len(train_set[feature].unique()),'labels')

0 : 73 labels
1 : 9 labels
2 : 21648 labels
3 : 16 labels
4 : 16 labels
5 : 7 labels
6 : 15 labels
7 : 6 labels
8 : 5 labels
9 : 2 labels
10 : 119 labels
11 : 92 labels
12 : 94 labels
13 : 42 labels
14 : 2 labels

In [ ]:
train_set['Country'].value_counts()

29170    29170
643        643
583        583
198        198
137        137
121        121
114        114
106        106
100        100
95          95
90          90
81          81
80          80
75          75
73          73
70          70
67          67
64          64
62          62
60          60
59          59
29          58
51          51
44          44
43          43
19          38
37          37
18          36
34          34
31          31
28          28
13          26
24          24
20          20
16          16
14          14
12          12
1            1
Name: Country, dtype: int64

In [ ]:
country_map=train_set['Country'].value_counts().to_dict()
train_set['Country']=train_set['Country'].map(country_map)
train_set.head(20)

,Employment,Degree,Status,Designation,family_job,Race,Sex,Country
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,29170
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,29170
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,29170
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,29170
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,95
5,Private,Masters,Married-civ-spouse,Exec-managerial,Wife,White,Female,29170
6,Private,9th,Married-spouse-absent,Other-service,Not-in-family,Black,Female,81
7,Self-emp-not-inc,HS-grad,Married-civ-spouse,Exec-managerial,Husband,White,Male,29170
8,Private,Masters,Never-married,Prof-specialty,Not-in-family,White,Female,29170
9,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,29170
10,Private,Some-college,Married-civ-spouse,Exec-managerial,Husband,Black,Male,29170
11,State-gov,Bachelors,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,100
12,Private,Bachelors,Never-married,Adm-clerical,Own-child,White,Female,29170
13,Private,Assoc-acdm,Never-married,Sales,Not-in-family,Black,Male,29170
14,Private,Assoc-voc,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,583
15,Private,7th-8th,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,643
16,Self-emp-not-inc,HS-grad,Never-married,Farming-fishing,Own-child,White,Male,29170
17,Private,HS-grad,Never-married,Machine-op-inspct,Unmarried,White,Male,29170
18,Private,11th,Married-civ-spouse,Sales,Husband,White,Male,29170
19,Self-emp-not-inc,Masters,Divorced,Exec-managerial,Unmarried,White,Female,29170

Advantages

Easy To Use
Not increasing feature space
Disadvantages

It will provide same weight if the frequencies are same

Target Guided Ordinal Encoding
Ordering the labels according to the target
Replace the labels by the joint probability of being 1 or 0

In [ ]:
import pandas as pd
df=pd.read_csv('/content/train.csv', usecols=['Cabin','Survived'])
df.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [ ]:
df['Cabin'].fillna('Missing',inplace=True)
df['Cabin']=df['Cabin'].astype(str).str[0]
df.head()

   Survived Cabin
0         0     M
1         1     C
2         1     M
3         1     C
4         0     M

In [ ]:
df.Cabin.unique()

array(['M', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [ ]:
df.groupby(['Cabin'])['Survived'].mean()

Cabin
A    0.466667
B    0.744681
C    0.593220
D    0.757576
E    0.750000
F    0.615385
G    0.500000
M    0.299854
T    0.000000
Name: Survived, dtype: float64

In [ ]:
df.groupby(['Cabin'])['Survived'].mean().sort_values().index

Index(['T', 'M', 'A', 'G', 'C', 'F', 'B', 'E', 'D'], dtype='object', name='Cabin')

In [ ]:
ordinal_labels=df.groupby(['Cabin'])['Survived'].mean().sort_values().index
ordinal_labels

Index(['T', 'M', 'A', 'G', 'C', 'F', 'B', 'E', 'D'], dtype='object', name='Cabin')

In [ ]:
enumerate(ordinal_labels,0)

In [ ]:
ordinal_labels2={k:i for i,k in enumerate(ordinal_labels,0)}
ordinal_labels2

{'T': 0, 'M': 1, 'A': 2, 'G': 3, 'C': 4, 'F': 5, 'B': 6, 'E': 7, 'D': 8}

In [ ]:
df['Cabin_ordinal_labels']=df['Cabin'].map(ordinal_labels2)
df.head()

   Survived Cabin  Cabin_ordinal_labels
0         0     M                     1
1         1     C                     4
2         1     M                     1
3         1     C                     4
4         0     M                     1

Mean Encoding

In [ ]:
mean_ordinal=df.groupby(['Cabin'])['Survived'].mean().to_dict()
mean_ordinal

In [ ]:
df['mean_ordinal_encode']=df['Cabin'].map(mean_ordinal)
df.head()